body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    color: rgb(69, 21, 241);
}
.pointer{
    cursor: pointer;
}
.caption{
    padding: 10px 20px;
}
.caption span{
    color: rgb(123, 18, 172);
    font-weight: 600;
    font-size: 24px;
    margin-left: 10px;
}
.header{
    background-color: rgb(156, 41, 233);
    color: white;
    padding: 10px 20px 20px 20px;
    position: relative;
}
.header .subtitle{
    position: absolute;
    top: 41px;
    left: 80px;
    letter-spacing: 7px;
}
.sections{
    display: flex;
}
.sections>div{
    width: 34%;
    height: 1000px;
    margin-top: 20px;
    padding: 20px;
    font-size: 40px;
    font-weight: 500;
}
.chapters> span{
    color: rgb(12, 44, 224);
    font-weight: 100;
    font-size: 16px;
    margin-left: 10px; 
}
.sections .html{
    background-color: rgb(20, 204, 20);
    
}

.sections .css{
    background-color: rgb(235, 213, 16);
}
.sections .js{
    background-color: rgb(241, 40, 40);
}